[submodule "if_elif_else-Python"]
	path = if_elif_else-Python
	url = https://github.com/Kauan-Almeida/if_elif_else-Python.git
[submodule "For_While_em-Python"]
	path = For_While_em-Python
	url = https://github.com/Kauan-Almeida/For_While_em-Python.git
[submodule "Tratamento_de_Execoes-Python"]
	path = Tratamento_de_Execoes-Python
	url = https://github.com/Kauan-Almeida/Tratamento_de_Execoes-Python.git
[submodule "Expressoes_regulares-Padroes.Python"]
	path = Expressoes_regulares-Padroes.Python
	url = https://github.com/Kauan-Almeida/Expressoes_regulares-Padroes.Python.git
